
/* semantic color variables for this project */
:root {
  --color-background: #111;
  --color-text: white;
  --padding-gap: 0.7rem;
  --padding-vertical: 0.5rem;
  --padding-horizonal: 1rem;
}

.dark-mode {
  --color-background: #FDFDFD;
  --color-text: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  hyphens: auto;
  display: block;
  
}

/* For WebKit browsers (Chrome, Safari) */
html, body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
  font-size: 20px;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
